html {
    overflow-y: scroll;
  }

  body,
  .accordion {
    padding: 30px;
  }

  ul {
    margin-bottom: 0;
  }

  .accordion {
    border-radius: 5px;
  }

  .question {
    border-top: 1px solid #eee;
    padding: 20px;
    cursor: pointer;
    position: relative;
  }

  .question h2 {
    font-size: 20px;
    margin: 0;
    color: #c00;
  }

  .question .bi {
    position: absolute;
    right: 20px;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
    color: #c00c00;
    transition: 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
  }

  .answer {
    max-height: 0;
    overflow: hidden;
    transition: 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
  }

  .answer p {
    padding: 20px;
  }

  .accordion li.open .answer {
    max-height: 150px;
    overflow: auto;
  }

  .accordion li.open .question .bi {
    transform: rotate(180deg);
  }